@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for mobile devices */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Style the scrollbar for desktop */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
